<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>base</string>
		<key>fn</key>
		<string>NormalEffect</string>
		<key>images</key>
		<array>
			<string>-</string>
		</array>
		<key>id</key>
		<string>NM0</string>
		<key>icon</key>
		<string>-</string>
		<key>title</key>
		<string>NONE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>base</string>
		<key>fn</key>
		<string>glitchEffect</string>
		<key>images</key>
		<array>
			<string>-</string>
		</array>
		<key>id</key>
		<string>gl1</string>
		<key>icon</key>
		<string>icon7</string>
		<key>title</key>
		<string>Tilt</string>
	</dict>
	<dict>
		<key>type</key>
		<string>base</string>
		<key>fn</key>
		<string>ColoredEffect</string>
		<key>images</key>
		<array>
			<string>-</string>
		</array>
		<key>id</key>
		<string>ce0</string>
		<key>icon</key>
		<string>icon14</string>
		<key>title</key>
		<string>Color</string>
	</dict>
	<dict>
		<key>type</key>
		<string>movie</string>
		<key>fn</key>
		<string>OldmovieEffect</string>
		<key>images</key>
		<array>
			<string>old_theme2</string>
		</array>
		<key>id</key>
		<string>mv0</string>
		<key>icon</key>
		<string>icon15</string>
		<key>title</key>
		<string>Film</string>
	</dict>
	<dict>
		<key>type</key>
		<string>movie</string>
		<key>fn</key>
		<string>OldmovieEffect</string>
		<key>images</key>
		<array>
			<string>old_theme1</string>
		</array>
		<key>id</key>
		<string>mv1</string>
		<key>icon</key>
		<string>icon16</string>
		<key>title</key>
		<string>Movie</string>
	</dict>
	<dict>
		<key>type</key>
		<string>base</string>
		<key>fn</key>
		<string>barrelffect</string>
		<key>images</key>
		<array>
			<string>-</string>
		</array>
		<key>id</key>
		<string>bf0</string>
		<key>icon</key>
		<string>icon6</string>
		<key>title</key>
		<string>Barrel</string>
	</dict>
	<dict>
		<key>type</key>
		<string>mask</string>
		<key>fn</key>
		<string>MaskBlendOverlay</string>
		<key>images</key>
		<array>
			<string>mask4.png</string>
		</array>
		<key>id</key>
		<string>mbo0</string>
		<key>icon</key>
		<string>icon0</string>
		<key>title</key>
		<string>Overlay</string>
	</dict>
	<dict>
		<key>type</key>
		<string>base</string>
		<key>fn</key>
		<string>ColorBurn</string>
		<key>images</key>
		<array>
			<string>-</string>
		</array>
		<key>id</key>
		<string>cb1</string>
		<key>icon</key>
		<string>icon1</string>
		<key>title</key>
		<string>Distort</string>
	</dict>
	<dict>
		<key>type</key>
		<string>movie</string>
		<key>fn</key>
		<string>OldmovieEffect</string>
		<key>images</key>
		<array>
			<string>mask1</string>
		</array>
		<key>id</key>
		<string>mv4</string>
		<key>icon</key>
		<string>icon15</string>
		<key>title</key>
		<string>Film</string>
	</dict>
	<dict>
		<key>type</key>
		<string>base</string>
		<key>fn</key>
		<string>ColorGlitch</string>
		<key>images</key>
		<array>
			<string>-</string>
		</array>
		<key>id</key>
		<string>gc0</string>
		<key>icon</key>
		<string>icon2</string>
		<key>title</key>
		<string>Glitch</string>
	</dict>
	<dict>
		<key>type</key>
		<string>base</string>
		<key>fn</key>
		<string>Pixelate</string>
		<key>images</key>
		<array>
			<string>-</string>
		</array>
		<key>id</key>
		<string>pix0</string>
		<key>icon</key>
		<string>icon3</string>
		<key>title</key>
		<string>Pixelate</string>
	</dict>
	<dict>
		<key>type</key>
		<string>base</string>
		<key>fn</key>
		<string>BlackEffect</string>
		<key>images</key>
		<array>
			<string>-</string>
		</array>
		<key>id</key>
		<string>bl0</string>
		<key>icon</key>
		<string>icon10</string>
		<key>title</key>
		<string>Bizarre</string>
	</dict>
	<dict>
		<key>type</key>
		<string>base</string>
		<key>fn</key>
		<string>Posterize</string>
		<key>images</key>
		<array>
			<string>-</string>
		</array>
		<key>id</key>
		<string>ps0</string>
		<key>icon</key>
		<string>icon4</string>
		<key>title</key>
		<string>Posterize</string>
	</dict>
	<dict>
		<key>type</key>
		<string>base</string>
		<key>fn</key>
		<string>Shockwave</string>
		<key>images</key>
		<array>
			<string>-</string>
		</array>
		<key>id</key>
		<string>sw0</string>
		<key>icon</key>
		<string>icon5</string>
		<key>title</key>
		<string>Shock</string>
	</dict>
	<dict>
		<key>type</key>
		<string>base</string>
		<key>fn</key>
		<string>gradientEffect</string>
		<key>images</key>
		<array>
			<string>-</string>
		</array>
		<key>id</key>
		<string>gd0</string>
		<key>icon</key>
		<string>icon7</string>
		<key>title</key>
		<string>Gradient</string>
	</dict>
	<dict>
		<key>type</key>
		<string>base</string>
		<key>fn</key>
		<string>colorTransferEffect</string>
		<key>images</key>
		<array>
			<string>-</string>
		</array>
		<key>id</key>
		<string>tf0</string>
		<key>icon</key>
		<string>icon1</string>
		<key>title</key>
		<string>Transition</string>
	</dict>
	<dict>
		<key>type</key>
		<string>base</string>
		<key>fn</key>
		<string>spectrumColor</string>
		<key>images</key>
		<array>
			<string>-</string>
		</array>
		<key>id</key>
		<string>sp0</string>
		<key>icon</key>
		<string>icon9</string>
		<key>title</key>
		<string>Spectrum</string>
	</dict>
	<dict>
		<key>type</key>
		<string>base</string>
		<key>fn</key>
		<string>DodgeEffect</string>
		<key>images</key>
		<array>
			<string>-</string>
		</array>
		<key>id</key>
		<string>hs3</string>
		<key>icon</key>
		<string>icon10</string>
		<key>title</key>
		<string>Dodge</string>
	</dict>
	<dict>
		<key>type</key>
		<string>base</string>
		<key>fn</key>
		<string>wavColorEffect</string>
		<key>images</key>
		<array>
			<string>-</string>
		</array>
		<key>id</key>
		<string>wv0</string>
		<key>icon</key>
		<string>icon11</string>
		<key>title</key>
		<string>Wave</string>
	</dict>
	<dict>
		<key>type</key>
		<string>base</string>
		<key>fn</key>
		<string>waterMirrorEffect</string>
		<key>images</key>
		<array>
			<string>-</string>
		</array>
		<key>id</key>
		<string>wv1</string>
		<key>icon</key>
		<string>icon12</string>
		<key>title</key>
		<string>Mirror</string>
	</dict>
	<dict>
		<key>type</key>
		<string>base</string>
		<key>fn</key>
		<string>waterEffect</string>
		<key>images</key>
		<array>
			<string>-</string>
		</array>
		<key>id</key>
		<string>wv2</string>
		<key>icon</key>
		<string>icon13</string>
		<key>title</key>
		<string>Water</string>
	</dict>
	<dict>
		<key>type</key>
		<string>movie</string>
		<key>fn</key>
		<string>OldmovieEffect</string>
		<key>images</key>
		<array>
			<string>mask3</string>
		</array>
		<key>id</key>
		<string>cb3</string>
		<key>icon</key>
		<string>icon1</string>
		<key>title</key>
		<string>Prism</string>
	</dict>
	<dict>
		<key>type</key>
		<string>mask</string>
		<key>fn</key>
		<string>MaskBlendHardLight</string>
		<key>images</key>
		<array>
			<string>mask4.png</string>
		</array>
		<key>id</key>
		<string>cb0</string>
		<key>icon</key>
		<string>icon1</string>
		<key>title</key>
		<string>Invert</string>
	</dict>
	<dict>
		<key>type</key>
		<string>mask</string>
		<key>fn</key>
		<string>MaskBlendHardLight</string>
		<key>images</key>
		<array>
			<string>mask5.png</string>
		</array>
		<key>id</key>
		<string>cb2</string>
		<key>icon</key>
		<string>icon1</string>
		<key>title</key>
		<string>Canny</string>
	</dict>
	<dict>
		<key>type</key>
		<string>mask</string>
		<key>fn</key>
		<string>MaskBlendHardLight</string>
		<key>images</key>
		<array>
			<string>mask0.png</string>
		</array>
		<key>id</key>
		<string>cb4</string>
		<key>icon</key>
		<string>icon1</string>
		<key>title</key>
		<string>Burn</string>
	</dict>
	<dict>
		<key>type</key>
		<string>movie</string>
		<key>fn</key>
		<string>OldmovieEffect</string>
		<key>images</key>
		<array>
			<string>mask2</string>
		</array>
		<key>id</key>
		<string>cb5</string>
		<key>icon</key>
		<string>icon1</string>
		<key>title</key>
		<string>Bonze</string>
	</dict>
	<dict>
		<key>type</key>
		<string>base</string>
		<key>fn</key>
		<string>ColorShift</string>
		<key>images</key>
		<array>
			<string>-</string>
		</array>
		<key>id</key>
		<string>hs0</string>
		<key>icon</key>
		<string>icon10</string>
		<key>title</key>
		<string>HSB</string>
	</dict>
</array>
</plist>
